@if (!item().hidden) {
  <!-- vertical layouts -->
  <li
    data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
    class="nav-item pcoded-hasmenu"
    [ngClass]="{ 'pcoded-trigger': isExpanded, active: isExpanded, 'nav-item--locked': item().locked }"
  >
    <a
      [routerLinkActive]="['active']"
      href="javascript:"
      class="nav-link"
      [attr.aria-disabled]="item().locked ? 'true' : null"
      [attr.aria-label]="item().locked ? item().title + ': ' + (item().lockedMessage || 'No se tiene acceso') : null"
      [attr.title]="item().locked ? item().lockedMessage : null"
      (click)="navCollapse($event)"
    >
      <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>
    @if (!item().locked) {
      <ng-container *ngTemplateOutlet="subMenuContent"></ng-container>
    }
  </li>
  <ng-template #itemContent>
    @if (item().icon) {
      <span class="pcoded-micon">
        <i [class]="item().locked ? 'feather icon-lock' : item().icon"></i>
      </span>
    }
    <span class="pcoded-mtext">
      {{ item().title }}
    </span>
  </ng-template>
  <ng-template #subMenuContent>
    <ul class="pcoded-submenu" [routerLinkActive]="['active']">
      @for (items of item().children; track items) {
        @if (items.type === 'item') {
          <app-nav-item [item]="items" [rootSectionId]="currentRootSectionId" (rootSectionChange)="rootSectionChange.emit($event)" />
        }
        @if (items.type === 'collapse') {
          <app-nav-collapse
            [item]="items"
            [expandedRootId]="expandedRootId()"
            [rootSectionId]="currentRootSectionId"
            (rootSectionChange)="rootSectionChange.emit($event)"
          />
        }
      }
    </ul>
  </ng-template>
}
